{
  "tabWidth": 2,
  "tabs": false,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "printWidth": 120,
  "trailingComma": "all",
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "jsxBracketSameLine": true
}
