/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

tbody, thead {
    display: block;
}

td {
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}
